@model Rental_Car_Demo.Models.Car

@{
    Layout = "~/Views/Shared/_LayoutCarOwner.cshtml";
    ViewData["Title"] = "ChangeCarDetailsByOwners";
}
<head>
    <style>
        .custom-drag-area1 {
            margin-top: 1rem;
            border-radius: 1rem;
            border: 2px dashed black;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
        }

        .car-card {
            display: flex;
            align-items: center;
            border: 1px solid #eaeaea;
            border-radius: 8px;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .main-image-container {
            width: 100%;
            height: 400px; /* Fixed height */
        }

        .main-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .thumbnail-image {
            width: 100%;
            height: 100px; /* Fixed height */
            object-fit: cover;
        }

        .thumbnail-container {
            margin-top: 10px;
        }


        .star-rating {
            color: #ffa500;
            font-size: 1rem;
        }

        .star {
            color: lightgray;
        }

        .filled {
            color: gold;
        }

        .half-filled {
            background: linear-gradient(90deg, gold 50%, lightgray 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .icon {
            font-size: 1rem;
            margin-right: 5px;
        }

            .icon img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

        .owner-section h5 {
            font-size: 1.1rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .owner-info {
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 5px;
            width: 35%;
        }

        .owner-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .owner-details {
            margin-left: 15px;
        }

        .owner-name {
            font-size: 1rem;
            font-weight: bold;
            color: #333;
        }

        .changekk {
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
        }

        .btn-aaa {
            text-decoration: none;
            background-color: #3942e5;
            border: none;
            color: white;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            text-align: center;
            font-size: 1rem;
            cursor: pointer;
            align-self: flex-start;
        }
    </style>
</head>

<body>

    <div class="mt-3 ps-3">
        <a href="~/Users/LoginOwn">Home</a> > <a href="~/Car/ViewMyCars">List of Cars</a> > <span class="fw-bold">Car Details</span>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="container-fluid">

        <!--Image and Preview-->

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-md-6">

                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                        </div>

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner main-image-container">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 main-image" src="~/img/@(ViewBag.car.FrontImage)" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 main-image" src="~/img/@(ViewBag.car.BackImage)" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 main-image" src="~/img/@(ViewBag.car.LeftImage)" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 main-image" src="~/img/@(ViewBag.car.RightImage)" alt="Fourth slide">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="row thumbnail-container">
                        <div class="col-4">
                            <img id="backImg" src="~/img/@(ViewBag.car.BackImage)" alt="Back img" class="thumbnail-image">
                        </div>
                        <div class="col-4">
                            <img id="leftImg" src="~/img/@(ViewBag.car.LeftImage)" alt="Left img" class="thumbnail-image">
                        </div>
                        <div class="col-4">
                            <img id="rightImg" src="~/img/@(ViewBag.car.RightImage)" alt="Right img" class="thumbnail-image">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="fw-bold mt-3">@ViewBag.car.Name</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Ratings</th>
                                <td id="rating">
                                    <i class="bi bi-star-fill star ms-1"></i>
                                    <i class="bi bi-star-fill star ms-1"></i>
                                    <i class="bi bi-star-fill star ms-1"></i>
                                    <i class="bi bi-star-fill star ms-1"></i>
                                    <i class="bi bi-star-fill star ms-1"></i>
                                    @if (ViewBag.car.NoOfRide == 0)
                                    {
                                        <span class="fw-bold">(No ratings yet)</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">No of rides</th>
                                <td>@ViewBag.car.NoOfRide</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td id="PreviewPrice">@((ViewBag.car.BasePrice).ToString("N0"))<span> VND/day</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Locations</th>
                                <td id="PreviewLocation">@ViewBag.district.DistrictName, @ViewBag.city.CityProvince</td>
                            </tr>
                            <tr>
                                <th style="border-bottom: none;" scope="row">Status</th>
                                <td style="border-bottom: none;">
                                    @if (@ViewBag.car.Status == 2)
                                    {
                                        <label class="fw-bold text-primary">Booked</label>
                                    }
                                    else
                                    {
                                        <form id="statusForm" asp-action="ChangeCarStatus" asp-controller="Car" method="post">
                                            @{
                                                var statusColor = @ViewBag.car.Status == 1 ? "green" : @ViewBag.car.Status == 3 ? "red" : "black";
                                            }
                                            <select style="color:@statusColor; width:50%" id="statusDropdown" class="form-select fw-bold" asp-for="Status" asp-items="@(new SelectList(new[]
                                             {
                                                 new { Value = "1", Text = "Available" },
                                                 new { Value = "3", Text = "Stopped" }
                                             }, "Value", "Text", @ViewBag.car.Status))">
                                            </select>
                                            <input type="hidden" id="previousStatus" value="@ViewBag.car.Status" />
                                            <input type="hidden" asp-for="CarId" value="@Model.CarId" />
                                        </form>
                                    }
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>

                    <div class="owner-section mt-2">
                        <h5>Car Owner</h5>
                        <div class="owner-info d-flex align-items-center">
                            <img src="~/img/5.png" alt="Owner Image" class="owner-image">
                            <div class="owner-details ml-3">
                                <div class="owner-name">@ViewBag.CarOwner.Name</div>
                                <div class="verification-badge" style="color:green">
                                    <span class="verified-icon">&#10003;</span> Verified
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="mt-3">
                        @if (ViewBag.booking != null && ViewBag.booking.Status == 1)
                        {
                            <form id="confirmDepositForm" asp-action="ConfirmDeposit" asp-controller="Car" method="post">
                                <button type="button" class="btn-aaa p-2" id="confirmDepositButton">Confirm Deposit</button>
                                <input type="hidden" asp-for="CarId" value="@Model.CarId" />
                            </form>
                        }
                        else if (ViewBag.car.Status == 2)
                        {
                            <div>
                                <a class="btn-aaa p-2" href="#" data-bs-toggle="modal" data-bs-target="#confirmPaymentModal">Confirm Payment</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <!--Car Details-->
        <div class="mt-3 container-fluid">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">Basic Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Terms of use</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="row container tab-pane active">
                    <br>
                    <div id="home" class="container tab-pane active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">License plate:</label>
                                    <span class="col-8">@ViewBag.car.LicensePlate</span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Color:</label>
                                    <span class="col-8">@ViewBag.color.ColorName</span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Brand name:</label>
                                    <span class="col-8">@ViewBag.brand.BrandName</span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Model:</label>
                                    <span class="col-8">@ViewBag.model.ModelName</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Production Year:</label>
                                    <span class="col-8">@ViewBag.car.ProductionYear</span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">No. of seats:</label>
                                    <span class="col-8">@ViewBag.car.Seats</span>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Transmission:</label>
                                    <span class="col-8">
                                        @(ViewBag.car.TransmissionType ? "Automatic" : "Manual")
                                    </span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-4 fw-bold">Fuel:</label>
                                    <span class="col-8">
                                        @(ViewBag.car.FuelType ? "Gasoline" : "Diesel")
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-12 fw-bold">Documents:</label>
                                    <div class="col-12">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Note</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Registration paper</td>
                                                    <td>
                                                        <a href="javascript:void(0);" onclick="showImageAndDownload('@Url.Content("~/img/" + ViewBag.document.Registration)', 'Registration_paper_@(ViewBag.car.Name)')">File1</a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Certificate of Inspection</td>
                                                    <td>
                                                        <a href="javascript:void(0);" onclick="showImageAndDownload('@Url.Content("~/img/" + ViewBag.document.Certificate)', 'Certificate_@(ViewBag.car.Name)')">File2</a>

                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Insurance</td>
                                                    <td>
                                                        @if (ViewBag.document.Insurance == null)
                                                        {
                                                        <td>Not Available</td>
                                                        }
                                                        else
                                                        {
                                                        <a href="javascript:void(0);" onclick="showImageAndDownload('@Url.Content("~/img/" + ViewBag.document.Insurance)', 'Insurance_@(ViewBag.car.Name)')">File3</a>
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <label class="text-danger">Note: Documents will be available for viewing after you've paid the deposit to rent.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                @* <form asp-action="ChangeCarDetailsByOwner" asp-controller="Car" method="post" > *@


                <div id="menu1" class="row container-fluid tab-pane fade">
                    <br>

                    @*  <div class="container mt-3 " id="Step2">   *@
                    <form asp-action="ChangeCarDetailsByOwner" id="Form" asp-controller="Car" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="CarId" value="@Model.CarId" />
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label asp-for="Mileage" class="col-md-2 fw-bold">Mileage:</label><br>
                                <input asp-for="Mileage" class="col-md-2 changekk mt-3" style="width: 150px; margin-left: 3%;" type="number" value="@ViewBag.car.Mileage" required>
                                <div class="col-md-2" style="width: 150px; margin-left: 3%;">
                                    <span asp-validation-for="Mileage" id="checkMileage" class="text-danger fw-bold"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="FuelConsumption" class="fw-bold">Fuel consumption:</label><br>
                                <input asp-for="FuelConsumption" class="col-md-2 changekk mt-3" style="margin-left: 3%;" type="number" value="@ViewBag.car.FuelConsumption">
                                <span class="fw-bold">liter/100 km</span><br />
                                <span asp-validation-for="FuelConsumption" id="checkFuel" style="margin-left: 3%;" class="text-danger fw-bold col-md-2 mt-3"></span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="col-md-2 fw-bold">Address:</label><br>

                                <select onchange="filterDistrict(); filterWard();" class="form-select mt-3" style="width: 400px; margin-left: 3%;" name="city" id="city" required>
                                    @foreach (var c in ViewBag.listCity)
                                    {
                                        <option value="@c.CityId">@c.CityProvince</option>
                                    }
                                </select>

                                <select onchange="filterWard()" class="form-select mt-3" style="width: 400px; margin-left: 3%;" name="district" id="district" required>
                                    @foreach (var d in ViewBag.listDistrict)
                                    {
                                        <option data-brand="@d.CityId" value="@d.DistrictId">@d.DistrictName</option>
                                    }
                                </select>

                                <select id="ward" class="form-select mt-3" style="width: 400px; margin-left: 3%;" name="ward" required>
                                    @foreach (var w in ViewBag.listWard)
                                    {
                                        <option data-brand="@w.DistrictId" value="@w.WardId">@w.WardName</option>
                                    }
                                </select>
                                <input class="mt-3 changekk" style="width: 400px; margin-left: 3%;" type="text" name="street" id="street"
                                       placeholder="House number, Street" value="@ViewBag.address.HouseNumberStreet">
                                <div class="text-danger fw-bold mt-3" style="margin-left: 3%;" id="checkStreet"></div>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Description" class="col-md-2  fw-bold">Description:</label>
                                <br>
                                <textarea asp-for="Description"
                                          style="height: 180px;width: 400px; border-color: black; border-radius: 0%;
                                            border: var(--bs-border-width) solid var(--bs-border-color);
                                            border-radius: var(--bs-border-radius);"
                                          class="form-control mt-2"> @Model.Description </textarea>
                                <span asp-validation-for="Description" id="checkDes" class="col-md-2  ms-1 fw-bold text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <label class="col-md-2 fw-bold">Additional functions:</label><br>
                            <div class="row mt-3">
                                <div class="col-md-1"></div>
                                <table class="col-md-2 bg-white">
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-bluetooth" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="m8.543 3.948 1.316 1.316L8.543 6.58zm0 8.104 1.316-1.316L8.543 9.42zm-1.41-4.043L4.275 5.133l.827-.827L7.377 6.58V1.128l4.137 4.136L8.787 8.01l2.745 2.745-4.136 4.137V9.42l-2.294 2.274-.827-.827zM7.903 16c3.498 0 5.904-1.655 5.904-8.01 0-6.335-2.406-7.99-5.903-7.99S2 1.655 2 8.01C2 14.344 4.407 16 7.904 16Z" />
                                            </svg>
                                            Bluetooth
                                        </td>
                                        <td class="col-md-6">
                                            <input @(ViewBag.function.Bluetooth == true ? "checked" : "") type="checkbox" name="Bluetooth" value="true" />
                                        </td>
                                    </tr>
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-map-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.5.5 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.5.5 0 0 0-.196 0zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1z" />
                                            </svg>
                                            GPS
                                        </td>
                                        <td class="col-md-6">
                                            <input @(ViewBag.function.Gps == true ? "checked" : "") type="checkbox" name="GPS" value="true" />
                                        </td>
                                    </tr>
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-camera-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0" />
                                            </svg>
                                            Camera
                                        </td>
                                        <td class="col-md-6">
                                            <input @(ViewBag.function.Camera == true ? "checked" : "") type="checkbox" name="Camera" value="true" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-md-2">
                                </div>
                                <table class="col-md-2 bg-white">
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-sun" viewBox="0 0 16 16">
                                                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                                            </svg>
                                            Sunroof
                                        </td>
                                        <td class="col-md-6">
                                            <input @(ViewBag.function.SunRoof == true ? "checked" : "") type="checkbox" name="Sunroof" value="true" />
                                        </td>
                                    </tr>
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-lock-fill" viewBox="0 0 16 16">
                                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                                            </svg>
                                            Child lock
                                        </td>
                                        <td class="col-md-6">
                                            <input type="checkbox" name="Childlock" value="true" @(ViewBag.function.ChildLock == true ? "checked" : "") />
                                        </td>
                                    </tr>
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-person-arms-up" viewBox="0 0 16 16">
                                                <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                                                <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z" />
                                            </svg>
                                            Child seat
                                        </td>
                                        <td class="col-md-6">
                                            <input type="checkbox" name="Childseat" value="true" @(ViewBag.function.ChildSeat == true ? "checked" : "") />
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-md-2"></div>
                                <table class="col-md-2 bg-white">
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-speaker" viewBox="0 0 16 16">
                                                <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                <path d="M8 4.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5M8 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 3a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-3.5 1.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                            DVD
                                        </td>
                                        <td class="col-md-6">
                                            <input type="checkbox" name="DVD" value="true" @(ViewBag.function.Dvd == true ? "checked" : "") />
                                        </td>
                                    </tr>
                                    <tr class="row flex items-center">
                                        <td class="flex items-center col-md-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-usb-symbol" viewBox="0 0 16 16">
                                                <path d="m7.792.312-1.533 2.3A.25.25 0 0 0 6.467 3H7.5v7.319a2.5 2.5 0 0 0-.515-.298L5.909 9.56A1.5 1.5 0 0 1 5 8.18v-.266a1.5 1.5 0 1 0-1 0v.266a2.5 2.5 0 0 0 1.515 2.298l1.076.461a1.5 1.5 0 0 1 .888 1.129 2.001 2.001 0 1 0 1.021-.006v-.902a1.5 1.5 0 0 1 .756-1.303l1.484-.848A2.5 2.5 0 0 0 11.995 7h.755a.25.25 0 0 0 .25-.25v-2.5a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25h.741a1.5 1.5 0 0 1-.747 1.142L8.76 8.99a3 3 0 0 0-.26.17V3h1.033a.25.25 0 0 0 .208-.389L8.208.312a.25.25 0 0 0-.416 0" />
                                            </svg>
                                            USB
                                        </td>
                                        <td class="col-md-6">
                                            <input type="checkbox" name="USB" value="true" @(ViewBag.function.Usb == true ? "checked" : "") />
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-md-1"></div>
                            </div>
                        </div>


                        <div class="row mt-3">

                            <div class="d-flex">
                                <label class=" fw-bold">Images:</label><br>
                                <span class="text-danger fw-bold ms-2" id="checkImages"></span>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-6 mt-5">
                                    <label class="fw-bold">Front</label>
                                    <div id="drag-area4"
                                         class="custom-drag-area1">
                                        <img src="~/img/@ViewBag.car.FrontImage" style="max-width: 100%; height: auto;">
                                        <a id="selectfile4" href=""
                                           style="color: rgb(98, 122, 239); text-decoration: underline;">Choose another file</a>
                                        <input asp-for="FrontImage" type="file" hidden name="front" id="fileInput4" />
                                    </div>
                                </div>


                                <div class="col-md-6 mt-5">
                                    <label class="fw-bold">Back</label>
                                    <div id="drag-area5"
                                         class="custom-drag-area1">
                                        <img src="~/img/@ViewBag.car.BackImage" style="max-width: 100%; height: auto;">
                                        <a id="selectfile5" href=""
                                           style="color: rgb(98, 122, 239); text-decoration: underline;">Choose another file</a>
                                        <input asp-for="BackImage" type="file" hidden name="back" id="fileInput5" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label class="fw-bold mt-2">Left</label>
                                    <div id="drag-area6"
                                         class="custom-drag-area1">
                                        <img src="~/img/@ViewBag.car.LeftImage" style="max-width: 100%; height: auto;">
                                        <a id="selectfile6" href=""
                                           style="color: rgb(98, 122, 239); text-decoration: underline;">Choose another file</a>
                                        <input asp-for="LeftImage" type="file" hidden name="left" id="fileInput6" />
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <label class="fw-bold mt-2">Right</label>
                                    <div id="drag-area7"
                                         class="custom-drag-area1">
                                        <img src="~/img/@ViewBag.car.RightImage" style="max-width: 100%; height: auto;">
                                        <a id="selectfile7" href=""
                                           style="color: rgb(98, 122, 239); text-decoration: underline;">Choose another file</a>
                                        <input asp-for="RightImage" type="file" hidden name="right" id="fileInput7" />
                                    </div>
                                </div>
                            </div>

                            <a class="mt-4">File type: doc, docx, pdf, jpg, jpeg, png</a>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a asp-controller="Car" asp-action="ChangeCarDetailsByOwner" asp-route-CarId="@Model.CarId" type="button" class="btn btn-outline-secondary"
                                   style="padding: 0; text-decoration: underline; border: none;">
                                    Discard
                                </a>
                                <button type="submit" id="submitButton" class="btn btn-primary ms-5">Save</button>
                            </div>

                        </div>
                    </form>
                </div>




                <div id="menu2" class="row container tab-pane fade">
                    <br>

                    <form asp-action="ChangeCarTermsByOwner" id="Form2" asp-controller="Car" method="post">
                        <input type="hidden" asp-for="CarId" value="@Model.CarId" />
                        <div class="">
                            <label asp-for="BasePrice" class=" col-2 fw-bold">Base price:</label>
                            <input asp-for="BasePrice" value="@(ViewBag.car.BasePrice.ToString("N0"))" class="col-3 changekk" style="width:10%" />
                            <span class="fw-bold ms-2">VND/DAY</span>
                            <div>
                                <span asp-validation-for="BasePrice" id="checkBP" class="fw-bold text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label asp-for="Deposit" class="col-2 fw-bold">Required deposit:</label>
                            <input asp-for="Deposit" value="@(ViewBag.car.Deposit.ToString("N0"))" class="col-3 changekk" required style=" width:10%" min="0" />
                            <span class="fw-bold ms-2">VND</span>
                            <div>
                                <span asp-validation-for="Deposit" id="" class="fw-bold text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-5">
                            <label class="fw-bold">Term of use</label>
                            <div class="row mt-2">
                                <!-- First Row of Checkboxes -->
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="ms-2" type="checkbox" id="check1" name="smoking" value="true" @(ViewBag.term.NoSmoking == true ? "checked" : "") />
                                        <label class="ms-2" for="check1">No smoking</label>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="form-check" style="margin-left: -50%;">
                                        <input class="ms-2" type="checkbox" id="check2" name="food" value="true" @(ViewBag.term.NoFoodInCar == true ? "checked" : "") />
                                        <label class=" ms-2" for="check2">No food in car</label>
                                    </div>
                                </div>
                                <!-- Second Row of Checkboxes -->
                                <div class="col-md-6 d-flex align-items-center mt-3">
                                    <div class="form-check">
                                        <input class="ms-2" type="checkbox" id="check3" name="pet" value="true" @(ViewBag.term.NoPet == true ? "checked" : "") />
                                        <label class=" ms-2" for="check3">No pet</label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex align-items-start mt-3">
                                    <div class="form-check" style="margin-left: -50%;">
                                        <input class="ms-2" type="checkbox" id="check4" name="t4" value="Other" @(ViewBag.term.Specify != null ? "checked" : "") />
                                        <label class="ms-2" for="check4">Other</label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex align-items-start mt-3">
                                    <div class="form-check">
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex align-items-start mt-3">
                                    <div class="form-check @(ViewBag.term.Specify == null ? "d-none" : "")" id="otherTextField" style="margin-left: -50%;">
                                        <!-- Text field for Other -->
                                        <textarea name="specify" style="height: 120px; width: 300px;" class="form-control mt-2">@ViewBag.term.Specify</textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mt-3">
                                    <a asp-controller="Car" asp-action="ChangeCarDetailsByOwner" asp-route-CarId="@Model.CarId" type="button" class="btn btn-outline-secondary"
                                       style="padding: 0; text-decoration: underline; border: none;">
                                        Discard
                                    </a>
                                    <button type="submit" id="submitButton2" class="btn btn-primary ms-5">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">File Preview</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Image" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <a id="downloadLink" href="" download="" class="btn btn-primary">Download</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form id="confirmPaymentForm" asp-controller="Payment" asp-action="ConfirmPayment" asp-route-carId="@ViewBag.car.CarId" method="post" style="display: none;">
        <input type="hidden" name="returnUrl" value="~/">
    </form>
    <div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-center">
                    <h5 class="modal-title" id="logoutModalLabel">ConfirmPayment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-center">
                    Please confirm that you have receive the payment for this booking
                </div>
                <div class="modal-footer">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <div class="vr mx-3"></div>
                        <button type="button" class="btn btn-primary" onclick="submitConfirm()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="confirmPaymentForm" asp-controller="Payment" asp-action="ConfirmPayment" asp-route-carId="@ViewBag.car.CarId" method="post" style="display: none;">
        <input type="hidden" name="returnUrl" value="~/">
    </form>
    <div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-center">
                    <h5 class="modal-title" id="logoutModalLabel">ConfirmPayment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-center">
                    Please confirm that you have receive the payment for this booking
                </div>
                <div class="modal-footer">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <div class="vr mx-3"></div>
                        <button type="button" class="btn btn-primary" onclick="submitConfirm()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        function setRating(rating) {
            const stars = document.querySelectorAll('#rating .star');
            stars.forEach((star, index) => {
                star.classList.remove('filled', 'half-filled');
                if (rating >= index + 1) {
                    star.classList.add('filled');
                } else if (rating > index && rating < index + 1) {
                    star.classList.add('half-filled');
                }
            });
        }

        const ratingFromViewBag = parseFloat('@ViewBag.Rating'.replace(',', '.'));
        setRating(ratingFromViewBag);
    </script>

    <script>
        function submitConfirm() {
            document.getElementById('confirmPaymentForm').submit();
        }
    </script>

    <script>
        function showImageAndDownload(imagePath, fileName) {
            document.getElementById('modalImage').src = imagePath;
            document.getElementById('downloadLink').href = imagePath;
            document.getElementById('downloadLink').download = fileName;
            $('#imageModal').modal('show');
        }
    </script>
    <script>
        function submitConfirm() {
            document.getElementById('confirmPaymentForm').submit();
        }
    </script>
    <script>
        function filterModels() {
            var selectedBrandId = document.getElementById('BrandId').value;
            var models = document.getElementById('Model').options;

            for (var i = 0; i < models.length; i++) {
                if (models[i].getAttribute('data-brand') == selectedBrandId) {
                    models[i].style.display = 'block';
                } else {
                    models[i].style.display = 'none';
                }
            }

            document.getElementById('Model').value = document.querySelector('#Model option[style="display: block;"]').value;
        }

        document.addEventListener('DOMContentLoaded', function () {
            filterModels();
        });
    </script>

    <!-- Change District when change City -->

    <script>
        function filterDistrict() {
            var selectedCityId = document.getElementById('city').value;
            var district = document.getElementById('district').options;

            for (var i = 0; i < district.length; i++) {
                if (district[i].getAttribute('data-brand') == selectedCityId) {
                    district[i].style.display = 'block';
                } else {
                    district[i].style.display = 'none';
                }
            }

            document.getElementById('district').value = document.querySelector('#district option[style="display: block;"]').value;
        }

        document.addEventListener('DOMContentLoaded', function () {
            filterDistrict();
        });
    </script>

    <!-- Change Ward when change District -->

    <script>
        function filterWard() {
            var selectedDistrictId = document.getElementById('district').value;
            var ward = document.getElementById('ward').options;

            for (var i = 0; i < ward.length; i++) {
                if (ward[i].getAttribute('data-brand') == selectedDistrictId) {
                    ward[i].style.display = 'block';
                } else {
                    ward[i].style.display = 'none';
                }
            }

            document.getElementById('ward').value = document.querySelector('#ward option[style="display: block;"]').value;
        }

        document.addEventListener('DOMContentLoaded', function () {
            filterWard();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the city ID from ViewBag
            var selectedCityId = '@ViewBag.car.Address.CityId';

            // Set the selected option
            var cityDropdown = document.getElementById('city');
            cityDropdown.value = selectedCityId; // This will select the appropriate option
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Get the ward ID from ViewBag
            var selectedWardId = '@ViewBag.car.Address.WardId';

            // Set the selected option
            var wardDropdown = document.getElementById('ward');
            wardDropdown.value = selectedWardId; // This will set the selected option
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Get the district ID from ViewBag
            var selectedDistrictId = '@ViewBag.car.Address.DistrictId';

            // Set the selected option
            var districtDropdown = document.getElementById('district');
            districtDropdown.value = selectedDistrictId; // This will select the appropriate option
        });
    </script>

    <!--Show text for Other CheckBox-->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var otherCheckbox = document.getElementById('check4');
            var otherTextField = document.getElementById('otherTextField');

            otherCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    otherTextField.classList.remove('d-none');
                } else {
                    otherTextField.classList.add('d-none');
                }
            });
        });
    </script>


    <!--  show change status diaglog  -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const statusDropdown = document.getElementById('statusDropdown');
            const previousStatusInput = document.getElementById('previousStatus');
            const statusForm = document.getElementById('statusForm');

            statusDropdown.addEventListener('change', function () {
                const newStatus = statusDropdown.value;
                const previousStatus = previousStatusInput.value;

                if (previousStatus == "2") {
                    // If the status is "Booked", show a message and revert the change
                    swal("Cannot change status!", "The car is currently booked.", "error");
                    statusDropdown.value = previousStatus;
                } else {
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure you want to change the status?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willChange) => {
                            if (willChange) {
                                // User confirmed the change, update the hidden input
                                previousStatusInput.value = newStatus;
                                // Submit the form
                                statusForm.submit();
                            } else {
                                // User canceled the change, revert the dropdown to the previous status
                                statusDropdown.value = previousStatus;
                                swal("Status change canceled!", "The status remains unchanged.", "info");
                            }
                        });
                }
            });

            // Show success message if available
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    swal({
                        title: "Success!",
                        text: "@TempData["SuccessMessage"]",
                        icon: "success",
                        button: "OK",
                    });
            </text>
        }
                });

    </script>

    <!--  confirm deposit diaglog  -->
    <script>
        document.getElementById('confirmDepositButton').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default action of the button

            swal({
                title: "Are you sure?",
                text: "Do you want to confirm the deposit?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willConfirm) => {
                    if (willConfirm) {
                        // User confirmed, submit the form
                        document.getElementById('confirmDepositForm').submit();
                    } else {
                        // User canceled, show cancellation message
                        swal("Action canceled!", "The deposit was not confirmed.", "info");
                    }
                });
        });

        // Show success message if available
        document.addEventListener('DOMContentLoaded', function () {
        @if (TempData["SuccessMessage"] != null)
        {
                    <script>
                    swal({
                        title: "Success!",
                        text: "@TempData["SuccessMessage"]",
                        icon: "success",
                        button: "OK",
                    });
        </script>
        }
    });


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const statusDropdown = document.getElementById('statusDropdown');

            function updateOptionColors() {
                Array.from(statusDropdown.options).forEach(option => {
                    if (option.value === "1") {
                        option.style.color = "green";
                    } else if (option.value === "3") {
                        option.style.color = "red";
                    } else {
                        option.style.color = ""; // Reset to default for other options if any
                    }
                });
            }

            // Initial call to set colors
            updateOptionColors();

            // Update colors when the dropdown changes (if needed)
            statusDropdown.addEventListener('change', updateOptionColors);
        });
    </script>


</body>

