@model Rental_Car_Demo.ViewModel.RegisterAndLoginViewModel;
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Car Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    .container-custom1 {
        background-color: #4a4a4a;
        background-size: cover;
        background-position: center;
        transition: background-image 1s ease-in-out;
        color: white;
        padding: 50px 0;
        position: relative;
        min-height: 415px;
        width: 100%;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        border: none;
    }

    .divider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: white;
        transform: rotate(30deg);
        transform-origin: center;
    }

    .icon img {
        width: 50px;
        height: 50px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-weight: bold;
    }

    .card-text {
        font-size: 14px;
        color: #555;
        flex-grow: 1;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .media-body {
        background-color: #f5f5f5;
    }

    .media img {
        width: 50px;
        height: 50px;
    }

    .location-card {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        height: 200px;
    }

    .location-img {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .location-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .location-info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

        .location-info h5 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        .location-info p {
            margin: 0;
            font-size: 14px;
        }

    .footer-guest {
        background-color: #f5f5f5;
        color: black;
    }

    .media img {
        width: 75px;
        height: 65px;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .nav-link {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

        .nav-link i {
            margin-right: 8px;
        }

</style>

<body>

    <div class="container-fluid container-custom1" id="background-section">
        <div class="divider"></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 mb-4">
                    <h2>Looking for a vehicle?</h2>
                    <p>You're at the right place.</p>
                    <p>Choose between 100's of private cars for rent at really low prices!</p>
                    <a class="btn btn-custom" asp-action="SearchCarForm" asp-controller="Home">Find a Rental Car Near You</a>
                </div>
                <div class="col-md-6 mb-4">
                    <h2>Are you a car owner?</h2>
                    <p>List your car and make money from your asset today!</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#authModal" class="btn btn-custom">List Your Car Today</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <h2 class="text-center">Why us?</h2>
        <div class="row text-center mt-4">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <div class="icon mb-3">
                            <img src="~/img/a4917a4fcb3b1a6b3416e27491d9422b.jpg" alt="Save money">
                        </div>
                        <h5 class="card-title">Save money</h5>
                        <p class="card-text">
                            We have no setup or registration fees. You are only charged when you rent a
                            car. So get started for FREE!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <div class="icon mb-3">
                            <img src="~/img/convinent.png" alt="Convenient">
                        </div>
                        <h5 class="card-title">Convenient</h5>
                        <p class="card-text">
                            We have a large selection of privately owned cars to suit your needs
                            throughout the country.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <div class="icon mb-3">
                            <img src="~/img/legal.png" alt="Legal and insurance">
                        </div>
                        <h5 class="card-title">Legal and insurance</h5>
                        <p class="card-text">
                            We fully cover all rentals and even provide roadside assistance. Our rating
                            system and extended member profile checks provide safety.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <div class="icon mb-3">
                            <img src="~/img/headphone.png" alt="24/7 support">
                        </div>
                        <h5 class="card-title">24/7 support</h5>
                        <p class="card-text">
                            Our team is ready to support you all along the way with our 24/7 hotline
                            and services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-body">
        <div class="container mt-5">
            <h2 class="text-center">What people say?</h2>
            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="media d-flex align-items-center">
                        <img src="~/img/elonmusk.jpg" class="ms-3 rounded-circle people-img" alt="User">
                        <div class="media-content ms-3">
                            <p>
                                We have a large selection of privately owned cars to suit your needs throughout the
                                country.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="media d-flex align-items-center">
                        <img src="~/img/jeffbz2.jpg" class="ms-3 rounded-circle people-img" alt="User">
                        <div class="media-content ms-3">
                            <p>
                                We have a large selection of privately owned cars to suit your needs throughout the
                                country.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="media d-flex align-items-center">
                        <img src="~/img/markzuck.jpg" class="ms-3 rounded-circle people-img" alt="User">
                        <div class="media-content ms-3">
                            <p>
                                We have a large selection of privately owned cars to suit your needs throughout the
                                country.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="media d-flex align-items-center">
                        <img src="~/img/timcook.jpg" class="ms-3 rounded-circle " alt="User">
                        <div class="media-content ms-3">
                            <p>
                                We have a large selection of privately owned cars to suit your needs throughout the
                                country.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="locations py-5">
        <div class="container mt-5">
            <h2 class="text-center">Where to find us?</h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/hanoi.jpeg" class="img-fluid" alt="Hanoi">
                        </div>
                        <div class="location-info">
                            <h5>Hanoi</h5>
                            <p>80+ cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/DJI_0550-HDR-Pano.jpg" class="img-fluid" alt="Ho Chi Minh City">
                        </div>
                        <div class="location-info">
                            <h5>Ho Chi Minh City</h5>
                            <p>100+ cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/da nang hoi an.jpg" class="img-fluid" alt="Da Nang - Hoi An">
                        </div>
                        <div class="location-info">
                            <h5>Da Nang - Hoi An</h5>
                            <p>90+ cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/nha trang.jpeg" class="img-fluid" alt="Nha Trang">
                        </div>
                        <div class="location-info">
                            <h5>Nha Trang</h5>
                            <p>50+ cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/da lat.jpeg" class="img-fluid" alt="Da Lat">
                        </div>
                        <div class="location-info">
                            <h5>Da Lat</h5>
                            <p>80+ cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="location-card">
                        <div class="location-img">
                            <img src="~/img/quang ninh.jpg" class="img-fluid" alt="Quang Ninh">
                        </div>
                        <div class="location-info">
                            <h5>Quang Ninh</h5>
                            <p>70+ cars</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @{
        var showModal = TempData["ShowModal"] as string;
    }


    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-login" id="container">
                        <div class="body-login">
                            <div class="form-container sign-up">
                                <form asp-controller="Users" asp-action="Register" method="post" asp-antiforgery="true" data-val="true">
                                    <div class="mb-3">
                                        <label asp-for="Register.Name" class="form-label">Your name</label>
                                        <input asp-for="Register.Name" type="text" class="form-control" id="signupName" placeholder="Your name">
                                        <span asp-validation-for="Register.Name" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Register.Email" class="form-label">Your email address</label>
                                        <input asp-for="Register.Email" type="email" class="form-control" id="signupEmail" placeholder="Your email address">
                                        <span asp-validation-for="Register.Email" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3 position-relative">
                                        <label asp-for="Register.Password" class="form-label">Pick a password</label>
                                        <input asp-for="Register.Password" type="password" class="form-control" autocomplete="off" id="signupPassword" placeholder="Pick a password">
                                        <i class='bx bx-low-vision toggle-password2' id="toggleSignupPassword"></i>
                                        <small class="form-text text-muted">
                                            Use at least one letter, one number, and seven
                                            characters.
                                        </small>
                                        <span asp-validation-for="Register.Password" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3 position-relative">
                                        <label asp-for="Register.ConfirmPassword" class="form-label">Confirm password</label>
                                        <input asp-for="Register.ConfirmPassword" type="password" class="form-control" id="signupConfirmPassword"
                                               placeholder="Confirm password">
                                        <i class='bx bx-low-vision toggle-password' id="toggleSignupConfirmPassword"></i>
                                        <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Register.Phone" class="form-label">Your phone number</label>
                                        <input asp-for="Register.Phone" class="form-control" id="signupPhone" placeholder="Your phone number">
                                        <span asp-validation-for="Register.Phone" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="form-check mb-3">
                                            <input asp-for="Register.Role" class="form-check" type="radio" value="rentCar" id="rentCar" style="width: 16px;" checked>
                                            <label class="form-check-label" for="rentCar">
                                                I want to rent a car
                                            </label>
                                        </div>
                                        <div class="form-check mb-3 ps-5">
                                            <input asp-for="Register.Role" class="form-check" type="radio" value="carOwner" id="carOwner" style="width: 16px;">
                                            <label class="form-check-label" for="carOwner">
                                                I am a car owner
                                            </label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Register.Role" class="text-danger"></span>

                                    <div class="mb-3 d-flex">
                                        <input asp-for="Register.AgreeToTerms" class="" type="checkbox" id="terms" style="width: 16px;">
                                        <label asp-for="Register.AgreeToTerms" class="form-check-label" for="terms">
                                            I have read and agree with the <a href="@Url.Action("TermsAndConditions", "Home")" target="_blank" class="text-decoration-none ps-3">
                                                <u>
                                                    Terms and
                                                    Conditions
                                                </u>
                                            </a>
                                        </label>
                                        <span asp-validation-for="Register.AgreeToTerms" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-custom w-100 far fa-user fa-plus"> SIGN UP</button>
                                </form>
                            </div>

                            <div class="form-container sign-in">
                                @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { id = "loginForm" }))
                                {
                                    <h1>Sign In</h1>
                                    <div class="mb-3">
                                        <label for="loginEmail" class="form-label">Your email address</label>
                                        @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control", placeholder = "Your email address", id = "loginEmail" })
                                        <span class="text-danger" id="loginEmailError"></span>
                                    </div>
                                    <div class="position-relative">
                                        <div class="abccc" style="position:relative;">
                                            <label for="loginPassword" class="form-label">Password</label>
                                            @Html.TextBoxFor(x => x.User.Password, new { @class = "form-control", type = "password", placeholder = "Password", id = "loginPassword" })
                                            <span class="text-danger" id="loginPasswordError"></span>
                                            <i class="bx bx-low-vision toggle-password3" style="position:relative" id="toggleLoginPassword"></i>
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                                    {
                                        <div class="text-danger" id="serverError">@ViewBag.Error</div>
                                    }
                                    <div class="mb-3 form-check" style="padding-left: 0.5em;">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.User.RememberMe, new { @class = "form-check-input", id = "rememberMe" })
                                            <label class="form-check-label" for="rememberMe">
                                                @Html.DisplayNameFor(x => x.User.RememberMe)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="mb-3 d-flex justify-content-center">
                                        <a asp-controller="Users" asp-action="ResetPassword">Forgot your password?</a>
                                    </div>


                                    <button type="submit">Sign In</button>
                                }
                            </div>
                        
                            <div class="toggle-container">
                                <div class="toggle">
                                    <div class="toggle-panel toggle-left">
                                        <h1>Welcome Back!</h1>
                                        <p>Enter your personal details to use all of the site's features</p>
                                        <button class="hidden" id="login">Sign In</button>
                                    </div>
                                    <div class="toggle-panel toggle-right">
                                        <h1>Hello, Friend!</h1>
                                        <p>Register with your personal details to use all of the site's features</p>
                                        <button class="hidden" id="register">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
   
    <script>
        $(document).ready(function() {
    $('#authModal').on('shown.bs.modal', function () {
        console.log('Modal đã được hiển thị.');
    });

    $('#authModal').on('hide.bs.modal', function () {
        console.log('Modal đã được đóng.');
    });
});

   $('#loginForm').submit(function(event) {
    if ($('#rememberMe').is(':checked')) {
        localStorage.setItem('rememberEmail', $('#loginEmail').val());
        localStorage.setItem('rememberPassword', $('#loginPassword').val());
    } else {
        localStorage.removeItem('rememberEmail');
        localStorage.removeItem('rememberPassword');
    }
});

$(document).ready(function() {
    if (localStorage.getItem('rememberEmail')) {
        $('#loginEmail').val(localStorage.getItem('rememberEmail'));
    }
    if (localStorage.getItem('rememberPassword')) {
        $('#loginPassword').val(localStorage.getItem('rememberPassword'));
    }
});

        // Toggle password visibility
        function togglePasswordVisibility(inputId, toggleId) {
            const passwordInput = document.getElementById(inputId);
            const toggleIcon = document.getElementById(toggleId);

            toggleIcon.addEventListener('click', () => {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                if (type === 'text') {
                    toggleIcon.classList.remove('bx-low-vision');
                    toggleIcon.classList.add('bx-show');
                } else {
                    toggleIcon.classList.remove('bx-show');
                    toggleIcon.classList.add('bx-low-vision');
                }
            });
        }

        togglePasswordVisibility('signupPassword', 'toggleSignupPassword');
        togglePasswordVisibility('loginPassword', 'toggleLoginPassword');
        togglePasswordVisibility('signupConfirmPassword', 'toggleSignupConfirmPassword');

        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });

        document.querySelectorAll('input[type="radio"]').forEach(radio => {
            radio.addEventListener('click', function () {
                if (this.previousChecked) {
                    this.checked = false;
                }
                document.querySelectorAll('input[type="radio"]').forEach(radio => radio.previousChecked = false);
                this.previousChecked = this.checked;
            });
        });
    </script>


    <script>
        const basePath = '@Url.Content("~/img/")';
        const images = [
            `${basePath}sieuxe1.jpeg`,
            `${basePath}rentcar1.jpg`,
            `${basePath}sieuxe4.jpg`,
            `${basePath}xechay3.jpg`,
            `${basePath}lookcar.jpg`
        ];
        let currentIndex = 0;

        function changeBackgroundImage() {
            const section = document.getElementById('background-section');
            section.style.backgroundImage = `url(${images[currentIndex]})`;
            currentIndex = (currentIndex + 1) % images.length;
        }

        setInterval(changeBackgroundImage, 3000);
        changeBackgroundImage(); // goi ptu dau tien
    </script>


    @section Scripts {
    @*thong bao dang ky thanh cong*@
    <script>
        @if (TempData["SuccessMessage"] != null)
            {
            <text>
            swal("Success!", "@TempData["SuccessMessage"]", "success");
        </text>
        }
    </script>
    }

</body>

</html>

